@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

*{
    font-family: 'Lobster', cursive;
    color: rgb(255, 255, 255);
}

body{
    background-color: hsl(218, 13%, 12%)
}

.cont{
    background-color: rgb(145, 25, 25);
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(128, 20, 20, 0.781);
    width: 12%;
    margin-left: 45%;
    text-align: center;
    border: 3px solid black;
}

.classnav{
    text-decoration: none;
}