body {
    background-color: hsl(218, 13%, 12%);
    margin: 0;
    padding: 20px;
}

*{
    font-family: Arial, sans-serif;
    color: rgb(255, 255, 255);
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: rgb(175, 58, 58);
    padding: 20px;
    box-shadow: 0 0 5px rgba(163, 158, 158, 0.644);
    text-align: center;
}